<!doctype html>
<html class="h-full bg-gray-100">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
<body class="h-full">
<div class="min-h-full">
    <!-- Off-canvas menu for mobile, show/hide based on off-canvas menu state. -->
    <div class="relative z-40 hidden lg:hidden" role="dialog" aria-modal="true" id="mobileMenu">
        <!--
          Off-canvas menu backdrop, show/hide based on off-canvas menu state.

          Entering: "transition-opacity ease-linear duration-300"
            From: "opacity-0"
            To: "opacity-100"
          Leaving: "transition-opacity ease-linear duration-300"
            From: "opacity-100"
            To: "opacity-0"
        -->
        <div class="fixed inset-0 bg-gray-600 bg-opacity-75"></div>

        <div class="fixed inset-0 z-40 flex">
            <!--
              Off-canvas menu, show/hide based on off-canvas menu state.

              Entering: "transition ease-in-out duration-300 transform"
                From: "-translate-x-full"
                To: "translate-x-0"
              Leaving: "transition ease-in-out duration-300 transform"
                From: "translate-x-0"
                To: "-translate-x-full"
            -->
            <div class="relative flex w-full max-w-xs flex-1 flex-col bg-cyan-700 pt-5 pb-4">
                <!--
                  Close button, show/hide based on off-canvas menu state.

                  Entering: "ease-in-out duration-300"
                    From: "opacity-0"
                    To: "opacity-100"
                  Leaving: "ease-in-out duration-300"
                    From: "opacity-100"
                    To: "opacity-0"
                -->
                <div class="absolute top-0 right-0 -mr-12 pt-2">
                    <button type="button" id="closeMenu"
                            class="ml-1 flex h-10 w-10 items-center justify-center rounded-full focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white">
                        <span class="sr-only">Close sidebar</span>
                        <!-- Heroicon name: outline/x-mark -->
                        <svg class="h-6 w-6 text-white" xmlns="http://www.w3.org/2000/svg" fill="none"
                             viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"/>
                        </svg>
                    </button>
                </div>

                <div class="flex flex-shrink-0 items-center px-4">
                    <img class="h-8 w-auto" src="https://tailwindui.com/img/logos/mark.svg?color=cyan&shade=300"
                         alt="Easywire logo">
                </div>
                <nav class="mt-5 h-full flex-shrink-0 divide-y divide-cyan-800 overflow-y-auto" aria-label="Sidebar">
                    <div class="space-y-1 px-2">
                        <!-- Current: "bg-cyan-800 text-white", Default: "text-cyan-100 hover:text-white hover:bg-cyan-600" -->
                        <a href="{{ path('app_dashboard')}}"
                           class="text-cyan-100 hover:text-white hover:bg-cyan-600 group flex items-center px-2 py-2 text-base font-medium rounded-md"
                           aria-current="page">
                            <!-- Heroicon name: outline/home -->
                            <svg class="mr-4 h-6 w-6 flex-shrink-0 text-cyan-200" xmlns="http://www.w3.org/2000/svg"
                                 fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                                 aria-hidden="true">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                      d="M2.25 12l8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25"/>
                            </svg>
                            Home
                        </a>


                        <a href="{{ path('app_dashboard_listCourses') }}"
                       class="bg-cyan-800 text-white hover:bg-cyan-600 group flex items-center px-2 py-2 text-sm leading-6 font-medium rounded-md">
                        <!-- Heroicon name: outline/credit-card -->
                        <svg class="mr-4 h-6 w-6 flex-shrink-0 text-cyan-200" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M14.25 9.75L16.5 12l-2.25 2.25m-4.5 0L7.5 12l2.25-2.25M6 20.25h12A2.25 2.25 0 0020.25 18V6A2.25 2.25 0 0018 3.75H6A2.25 2.25 0 003.75 6v12A2.25 2.25 0 006 20.25z" />
                        </svg>

                        Courses
                    </a>



                    </div>
                </nav>
            </div>

            <div class="w-14 flex-shrink-0" aria-hidden="true">
                <!-- Dummy element to force sidebar to shrink to fit close icon -->
            </div>
        </div>
    </div>

    <!-- Static sidebar for desktop -->
    <div class="hidden lg:fixed lg:inset-y-0 lg:flex lg:w-64 lg:flex-col">
        <!-- Sidebar component, swap this element with another sidebar if you like -->
        <div class="flex flex-grow flex-col overflow-y-auto bg-cyan-700 pt-5 pb-4">
            <div class="flex flex-shrink-0 items-center px-4">
                <img class="h-8 w-auto" src="https://tailwindui.com/img/logos/mark.svg?color=cyan&shade=300"
                     alt="Easywire logo">
            </div>
            <nav class="mt-5 flex flex-1 flex-col divide-y divide-cyan-800 overflow-y-auto" aria-label="Sidebar">
                <div class="space-y-1 px-2">
                    <!-- Current: "bg-cyan-800 text-white", Default: "text-cyan-100 hover:text-white hover:bg-cyan-600" -->
                    <a href="{{ path('app_dashboard')}}"
                       class="text-cyan-100 hover:text-white hover:bg-cyan-600 group flex items-center px-2 py-2 text-sm leading-6 font-medium rounded-md"
                       aria-current="page">
                        <!-- Heroicon name: outline/home -->
                        <svg class="mr-4 h-6 w-6 flex-shrink-0 text-cyan-200" xmlns="http://www.w3.org/2000/svg"
                             fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                             aria-hidden="true">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                  d="M2.25 12l8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25"/>
                        </svg>
                        Home
                    </a>



                    <a href="{{ path('app_dashboard_listCourses') }}"
                       class="bg-cyan-800 text-white hover:bg-cyan-600 group flex items-center px-2 py-2 text-sm leading-6 font-medium rounded-md">
                        <!-- Heroicon name: outline/credit-card -->
                        <svg class="mr-4 h-6 w-6 flex-shrink-0 text-cyan-200" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M14.25 9.75L16.5 12l-2.25 2.25m-4.5 0L7.5 12l2.25-2.25M6 20.25h12A2.25 2.25 0 0020.25 18V6A2.25 2.25 0 0018 3.75H6A2.25 2.25 0 003.75 6v12A2.25 2.25 0 006 20.25z" />
                        </svg>

                        Courses
                    </a>

                </div>
            </nav>
        </div>
    </div>

    <div class="flex flex-1 flex-col lg:pl-64">
        <div class="flex h-16 flex-shrink-0 border-b border-gray-200 bg-white lg:border-none">
            <button type="button" id="openMenuMobile"
                    class="border-r border-gray-200 px-4 text-gray-400 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-cyan-500 lg:hidden">
                <span class="sr-only">Open sidebar</span>
                <!-- Heroicon name: outline/bars-3-center-left -->
                <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                     stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round"
                          d="M3.75 6.75h16.5M3.75 12H12m-8.25 5.25h16.5"/>
                </svg>
            </button>
            <!-- Search bar -->
            <div class="flex flex-1 justify-between px-4 sm:px-6 lg:mx-auto lg:max-w-6xl lg:px-8">
                <div class="flex flex-1">
                </div>
            </div>
        </div>
        <main class="flex-1 pb-8">
            <!-- Page header -->
            <div class="bg-white shadow">
                <div class="px-4 sm:px-6 lg:mx-auto lg:max-w-6xl lg:px-8">
                    <div class="py-6 md:flex md:items-center md:justify-between lg:border-t lg:border-gray-200">
                        <div class="min-w-0 flex-1">
                            <!-- Profile -->
                            <div class="flex items-center">
                                <img class="hidden h-16 w-16 rounded-full sm:block"
                                     src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2.6&w=256&h=256&q=80"
                                     alt="">
                                <div>
                                    <div class="flex items-center">
                                        <img class="h-16 w-16 rounded-full sm:hidden"
                                             src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2.6&w=256&h=256&q=80"
                                             alt="">
                                        <h1 class="ml-3 text-2xl font-bold leading-7 text-gray-900 sm:truncate sm:leading-9">
                                            Welcome, {{user.nom}} {{user.prenom}}</h1>
                                    </div>
                                    <dl class="mt-6 flex flex-col sm:ml-3 sm:mt-1 sm:flex-row sm:flex-wrap">
                                        <dt class="sr-only">Company</dt>
                                        <dd class="flex items-center text-sm font-medium capitalize text-gray-500 sm:mr-6">
                                            <!-- Heroicon name: mini/building-office -->
                                            <svg class="mr-1.5 h-5 w-5 flex-shrink-0 text-gray-400"
                                                 xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                                                 fill="currentColor" aria-hidden="true">
                                                <path fill-rule="evenodd"
                                                      d="M4 16.5v-13h-.25a.75.75 0 010-1.5h12.5a.75.75 0 010 1.5H16v13h.25a.75.75 0 010 1.5h-3.5a.75.75 0 01-.75-.75v-2.5a.75.75 0 00-.75-.75h-2.5a.75.75 0 00-.75.75v2.5a.75.75 0 01-.75.75h-3.5a.75.75 0 010-1.5H4zm3-11a.5.5 0 01.5-.5h1a.5.5 0 01.5.5v1a.5.5 0 01-.5.5h-1a.5.5 0 01-.5-.5v-1zM7.5 9a.5.5 0 00-.5.5v1a.5.5 0 00.5.5h1a.5.5 0 00.5-.5v-1a.5.5 0 00-.5-.5h-1zM11 5.5a.5.5 0 01.5-.5h1a.5.5 0 01.5.5v1a.5.5 0 01-.5.5h-1a.5.5 0 01-.5-.5v-1zm.5 3.5a.5.5 0 00-.5.5v1a.5.5 0 00.5.5h1a.5.5 0 00.5-.5v-1a.5.5 0 00-.5-.5h-1z"
                                                      clip-rule="evenodd"/>
                                            </svg>
                                            Fitness
                                        </dd>
                                        <dt class="sr-only">Account status</dt>
                                        <dd class="mt-3 flex items-center text-sm font-medium capitalize text-gray-500 sm:mr-6 sm:mt-0">
                                            <!-- Heroicon name: mini/check-circle -->
                                            <svg class="mr-1.5 h-5 w-5 flex-shrink-0 text-green-400"
                                                 xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                                                 fill="currentColor" aria-hidden="true">
                                                <path fill-rule="evenodd"
                                                      d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
                                                      clip-rule="evenodd"/>
                                            </svg>
                                            Verified coach
                                        </dd>
                                    </dl>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="mt-8 relative">
                <div class="mx-auto max-w-6xl px-4 sm:px-6 lg:px-8">

                    <div id="course" class="w-full">
                        <div class="grid grid-cols-12 gap-x-10">
                            <div class="flex flex-col md:col-span-12 col-span-12">
                                <h1 class="text-lg font-medium">{{ course.titre }}</h1>
                                <span class="text-sm font-medium"> Published on <span class="text-sm">{{ course.datecreation|date('Y-m-d') }}</span></span>
                                <div class="col-span-6 block mt-10">
                                    <img src="/images/{{ course.coursphoto }}" class="w-[35rem] h-[20rem] bg-cover rounded-md shadow-lg">
                                </div>
                                <form class="mt-10 " action="{{ path('app_dashboard_modifycourse',{id: course.id}) }}" method="post" enctype="multipart/form-data">
                                    <div id="coursinformation" class="">
                                        <div class="">
                                            <p class="mt-1 text-sm text-gray-500">Change your current course information.</p>
                                        </div>

                                        <div class="space-y-6 pt-6 pb-5">
                                            <div>
                                                <label for="course-name" class="block text-sm font-medium text-gray-900">Course
                                                    title</label>
                                                <div class="mt-1">
                                                    <input type="text" name="course-name" id="course-name"
                                                           class="block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm" value="{{ course.titre }}">
                                                </div>
                                            </div>
                                            <div>
                                                <label for="description" class="block text-sm font-medium text-gray-900">Course description</label>
                                                <div class="mt-1">
                                                <textarea id="description" name="course-description" rows="4"
                                                          class="block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm">{{ course.description }}</textarea>
                                                </div>
                                            </div>
                                            <div>
                                                <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-black" for="small_size">Course background</label>

                                                <div class="mt-1">
                                                    <div class="flex items-center justify-center w-full">
                                                        <label for="dropzone-file" class="flex flex-col items-center justify-center w-full h-64 border-2 border-gray-300 border-dashed rounded-lg cursor-pointer bg-gray-50 dark:hover:bg-bray-800 dark:bg-gray-700 hover:bg-gray-100 dark:border-gray-600 dark:hover:border-gray-500 dark:hover:bg-gray-600">
                                                            <div class="flex flex-col items-center justify-center pt-5 pb-6">
                                                                <svg aria-hidden="true" class="w-10 h-10 mb-3 text-gray-400" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 16a4 4 0 01-.88-7.903A5 5 0 1115.9 6L16 6a5 5 0 011 9.9M15 13l-3-3m0 0l-3 3m3-3v12"></path></svg>
                                                                <p class="mb-2 text-sm text-gray-500 dark:text-gray-400"><span class="font-semibold">Click to upload</span> or drag and drop</p>
                                                                <p class="text-xs text-gray-500 dark:text-gray-400">PNG JPG or JPEG</p>
                                                            </div>
                                                            <input id="dropzone-file" name="course-background" type="file" class="hidden" value="{{ course.coursphoto }}" />
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div id="sections" class="space-y-5">
                                                {% for section in sections|sort((a, b) => a.indexsection <=> b.indexsection) %}

                                                <div id="section" class="mt-4">
                                                    <input type="hidden" id="section{{ section.indexsection }}-id" value="{{ section.id }}"/>
                                                    <div>
                                                        <div class="w-full bg-sky-700 px-2 py-3 mb-4 rounded-md flex justify-between items-center">
                                                            <h1 class="text-white rounded-md">Section {{ section.indexsection }}</h1>
                                                            <div class="flex space-x-2">
                                                            <a href="{{ path('app_dashboard_modifySection',{'idc' : course.id, 'ids' : section.id }) }}"><button type="button" style="background: #d5ef44" class="px-4 text-white text-xs py-1 rounded-md" onclick="removeSection('section{{section.indexsection }}')">Modify Section</button></a>
                                                            <a href="{{ path('app_dashboard_deleteSection',{'idc' : course.id, 'ids' : section.id }) }}"><button type="button" style="background: #ef4444" class="px-4 text-white text-xs py-1 rounded-md" onclick="removeSection('section{{section.indexsection }}')">Remove Section</button></a>
                                                            </div>
                                                            </div>

                                                        <label for="section1title"
                                                               class="block text-sm font-medium text-gray-900">Section {{ section.indexsection }}
                                                            Title</label>
                                                        <div class="mt-1">
                                                            <input type="text" name="section1-title" id="section1-title" disabled
                                                                   class="block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm" value="{{ section.titre }}">
                                                        </div>
                                                    </div>
                                                    <div>
                                                        <div id="resources" class="mt-4">
                                                            <h1 class="w-full bg-sky-700 px-2 py-3 mb-4 text-white rounded-md">Section {{ section.indexsection }} Resource</h1>

                                                            <div class="mt-1">
                                                                <h1 class="block text-sm font-medium text-gray-900">Link</h1>
                                                                <input type="text" name="section1-link" id="section1-title" disabled
                                                                       class="block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm" value="{% if section|length == 1 %} {{ resources[0].lien }} {% else %} {{resources[section.indexsection-1].lien }} {% endif %}"/>
                                                                <div class="mt-2">
                                                                    <label for="description" class="block text-sm font-medium text-gray-900">Description</label>
                                                                    <div class="mt-1">
                                                <textarea id="description" name="section1-description" rows="4" disabled
                                                          class="block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm">{% if section|length == 1 %} {{ resources[0].description }} {% else %} {{resources[section.indexsection-1].description }} {% endif %}</textarea>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                {% endfor %}
                                            </div>

                                        </div>
                                    </div>
                                    <div class="flex flex-shrink-0 justify-end  py-4">
                                        <button type="cancel"
                                                class="rounded-md border border-gray-300 bg-white py-2 px-4 text-sm font-medium text-gray-700 shadow-sm hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">
                                            Cancel
                                        </button>
                                        <button type="submit"
                                                class="ml-4 inline-flex justify-center rounded-md border border-transparent bg-indigo-600 py-2 px-4 text-sm font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">
                                            Update
                                        </button>
                                    </div>
                                </form>
                            </div>

                        </div>


                    </div>

                    <!-- More items... -->
                </div>
            </div>



        </main>
    </div>
</div>



<script>


    const closeMenuButton = document.getElementById('closeMenu')
    closeMenuButton.addEventListener('click', () => {
        document.getElementById('mobileMenu').classList.add('hidden')
    })

    const openMenuButton = document.getElementById('openMenuMobile')
    openMenuButton.addEventListener('click', () => {
        document.getElementById('mobileMenu').classList.remove('hidden')
    })


    let counter = 1

    function addSection() {
        const form = document.getElementById('sections');
        const div = document.createElement('div');
        const sectionId = `section${counter}`;
        div.id = sectionId;
        div.innerHTML = `<div id="${sectionId}" class="mt-4">
                                                <div>
                                                    <div class="w-full bg-sky-700 px-2 py-3 mb-4 rounded-md flex justify-between items-center">
                                                        <h1 class="text-white rounded-md">Section ${counter}</h1>
                                                        <button type="button" style="background: #ef4444" class="px-4 text-white text-xs py-1 rounded-md" onclick="removeSection('${sectionId}')">Remove Section</button>
                                                    </div>

                                                    <label for="${sectionId}title"
                                                           class="block text-sm font-medium text-gray-900">Section ${counter}
                                                        Title</label>
                                                    <div class="mt-1">
                                                        <input type="text" name="${sectionId}-title" id="${sectionId}-title"
                                                               class="block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm">
                                                    </div>
                                                </div>
                                                <div>
                                                    <div id="resources${counter}" class="mt-4">
                                                        <h1 class="w-full bg-sky-700 px-2 py-3 mb-4 text-white rounded-md">Section ${counter} Resource</h1>

                                                        <div class="mt-1">
                                                            <h1 class="block text-sm font-medium text-gray-900">Link</h1>
                                                            <input type="text" name="${sectionId}-link" id="section1-title"
                                                                   class="block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm"/>
                                                            <div class="mt-2">
                                                                <label for="description" class="block text-sm font-medium text-gray-900">Description</label>
                                                                <div class="mt-1">
                                                <textarea id="description" name="${sectionId}-description" rows="4"
                                                          class="block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm"></textarea>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
  `;

        form.appendChild(div);
        counter++;
    }

    function removeSection(sectionId) {

        const section = document.getElementById(sectionId);
        section.parentNode.removeChild(section);


        counter--
    }
</script>
</body>
</html>