<!doctype html>
<html>
<html class="h-full bg-white">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
{% endblock %}
</head>
<body>
<!-- Navigation -->
<div id="offercontainer" class="w-full h-auto bg-red-600 flex flex-col justify-center items-center py-2 space-y-1 ">
<p class="text-sm text-white">Subscribe to Amrou Ghribi now for <span class="line-through">$9.99</span> <span class="text-lg font-bold text-white">4.99$</span></p>
<button class="text-black text-xs py-1 px-3 bg-white rounded-full hover:scale-105 duration-100 transition-all">Subscribe now &rarr;</button>

</div>
<nav class="bg-gradient-to-b from-teal-600/10 to-slate-50 " >
    <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
        <div class="flex h-16 justify-between">
            <div class="flex">
                <div class="flex flex-shrink-0 items-center">
                    <a href="{{ path('app_main') }}"><img class="block h-8 w-auto lg:hidden" src="{{ asset('images/onlycoachlogo.png')}}" alt="Your Company"></a>
                    <a href="{{ path('app_main') }}"><img class="lg:block h-8 w-auto hidden" src="{{ asset('images/onlycoachlogo.png')}}" alt="Your Company"></a>
                </div>
                <div class="hidden ml-12 sm:flex space-x-8">
                    <!-- Current: "border-indigo-500 text-gray-900", Default: "border-transparent text-gray-500 hover:border-gray-300 hover:text-gray-700" -->
                    <a href="{{ path('app_courses_popular') }}" class="inline-flex items-center border-b-2 border-indigo-500 px-1 pt-1 text-sm font-medium text-gray-900">Popular</a>
                    <a href="{{ path('app_coach') }}" class="inline-flex items-center border-b-2 border-transparent px-1 pt-1 text-sm font-medium text-gray-500 hover:border-gray-300 hover:text-gray-700">Coachs</a>
                    <a href="#" class="inline-flex items-center border-b-2 border-transparent px-1 pt-1 text-sm font-medium text-gray-500 hover:border-gray-300 hover:text-gray-700">Contact</a>
                </div>


            </div>                <div class="hidden sm:ml-6 sm:flex sm:items-center">

                    <button type="button" class="rounded-full bg-white p-1 text-gray-400 hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">
                        <span class="sr-only">View notifications</span>
                        <!-- Heroicon name: outline/bell -->
                        <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M14.857 17.082a23.848 23.848 0 005.454-1.31A8.967 8.967 0 0118 9.75v-.7V9A6 6 0 006 9v.75a8.967 8.967 0 01-2.312 6.022c1.733.64 3.56 1.085 5.455 1.31m5.714 0a24.255 24.255 0 01-5.714 0m5.714 0a3 3 0 11-5.714 0" />
                        </svg>
                    </button>

                    <!-- Profile dropdown -->
                    <div class="relative ml-3">
                        <div>
                            <button type="button" class="flex rounded-full bg-white text-sm focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2" id="user-menu-button" aria-expanded="false" aria-haspopup="true">
                                <span class="sr-only">Open user menu</span>
                                <img class="h-8 w-8 rounded-full" src="{{asset(userinfo.getpicture())}}" alt="">
                            </button>
                        </div>

                        <!--
                          Dropdown menu, show/hide based on menu state.

                          Entering: "transition ease-out duration-200"
                            From: "transform opacity-0 scale-95"
                            To: "transform opacity-100 scale-100"
                          Leaving: "transition ease-in duration-75"
                            From: "transform opacity-100 scale-100"
                            To: "transform opacity-0 scale-95"
                        -->
                        <div id="menu" class="absolute right-0 z-10 mt-2 w-48 origin-top-right rounded-md bg-white py-1 shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none hidden" role="menu" aria-orientation="vertical" aria-labelledby="user-menu-button" tabindex="-1">
                            <!-- Active: "bg-gray-100", Not Active: "" -->
                            <a href="{{ path('app_settings') }}" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-50" role="menuitem" tabindex="-1" id="user-menu-item-1">Settings</a>
                            <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-50" role="menuitem" tabindex="-1" id="user-menu-item-1">Calendar</a>
                            <a href="{{ path('app_logout') }}" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-50" role="menuitem" tabindex="-1" id="user-menu-item-2">Sign out</a>
                        </div>
                    </div>
                </div>
            <div class="-mr-2 flex items-center sm:hidden">
                <!-- Mobile menu button -->
                <button id="mobile-button" type="button" class="inline-flex items-center justify-center rounded-md p-2 text-gray-400 hover:bg-gray-100 hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-indigo-500" aria-controls="mobile-menu" aria-expanded="false">
                    <span class="sr-only">Open main menu</span>
                    <!--
                      Icon when menu is closed.

                      Heroicon name: outline/bars-3

                      Menu open: "hidden", Menu closed: "block"
                    -->
                    <svg id="mobileMenuClosedIcon" class="block h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
                    </svg>
                    <!--
                      Icon when menu is open.

                      Heroicon name: outline/x-mark

                      Menu open: "block", Menu closed: "hidden"
                    -->
                    <svg id="mobileMenuOpenIcon" class="hidden h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                    </svg>
                </button>
            </div>
        </div>
    </div>

    <!-- Mobile menu, show/hide based on menu state. -->
    <div class="sm:hidden hidden" id="mobile-menu">
        <div class="space-y-1 pt-2 pb-3">
            <!-- Current: "bg-indigo-50 border-indigo-500 text-indigo-700", Default: "border-transparent text-gray-500 hover:bg-gray-50 hover:border-gray-300 hover:text-gray-700" -->
            <a href="{{ path('app_courses_popular') }}" class="block border-l-4 border-transparent py-2 pl-3 pr-4 text-base font-medium text-gray-500 hover:border-gray-300 hover:bg-gray-50 hover:text-gray-700">Popular</a>
            <a href="{{ path('app_coach') }}" class="block border-l-4 border-transparent py-2 pl-3 pr-4 text-base font-medium text-gray-500 hover:border-gray-300 hover:bg-gray-50 hover:text-gray-700">Coachs</a>
            <a href="{{ path('app_contact') }}" class="block border-l-4 border-transparent py-2 pl-3 pr-4 text-base font-medium text-gray-500 hover:border-gray-300 hover:bg-gray-50 hover:text-gray-700">Contact</a>
        </div>


        <div class="border-t border-gray-200 pt-4 pb-3">
            <div class="flex items-center px-4">
                <div class="flex-shrink-0">
                    <img class="h-10 w-10 rounded-full" src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="">
                </div>
                <div class="ml-3">
                    <div class="text-base font-medium text-gray-800">Amrou Ghribi</div>
                </div>
                <button type="button" class="ml-auto flex-shrink-0 rounded-full bg-white p-1 text-gray-400 hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">
                    <span class="sr-only">View notifications</span>
                    <!-- Heroicon name: outline/bell -->
                    <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M14.857 17.082a23.848 23.848 0 005.454-1.31A8.967 8.967 0 0118 9.75v-.7V9A6 6 0 006 9v.75a8.967 8.967 0 01-2.312 6.022c1.733.64 3.56 1.085 5.455 1.31m5.714 0a24.255 24.255 0 01-5.714 0m5.714 0a3 3 0 11-5.714 0" />
                    </svg>
                </button>
            </div>
            <div class="mt-3 space-y-1">
                <a href="{{ path('app_settings') }}" class="block px-4 py-2 text-base font-medium text-gray-500 hover:bg-gray-100 hover:text-gray-800">Settings</a>
                <a href="#" class="block px-4 py-2 text-base font-medium text-gray-500 hover:bg-gray-100 hover:text-gray-800">Calendar</a>
                <a href="{{ path('app_login') }}" class="block px-4 py-2 text-base font-medium text-gray-500 hover:bg-gray-100 hover:text-gray-800">Sign out</a>
            </div>
        </div>
    </div>
</nav>


<!-- End of navigation and start of main page body-->

<div class="bg-slate-50">
    <div class="mx-auto py-16 px-4 sm:py-24 sm:px-6 lg:max-w-7xl lg:px-8">
        <!-- Product -->

            <!-- Product details -->
            <div class=" mt-14 max-w-4xl sm:mt-16 lg:col-span-3 lg:row-span-2 lg:row-end-2 lg:mt-0 lg:max-w-none">
                <div class="flex flex-col-reverse">
                    <div class="mt-4">
                        <div id="Coach" class="flex flex-col items-center space-y-4">
                            <canvas class="w-28 h-28  rounded-full bg-black bg-[url('../../public/images/coach1.jpg')] bg-cover shadow-xl"></canvas>
                            <div id="personalInformation" class="flex flex-col items-center">
                                <h1 class="text-lg font-semibold">Amrou Ghribi</h1>
                                <h1 class="text-gray-800 text-sm">Fitness</h1>
                            </div>
                        </div>
                    </div>

                </div>


                <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-4 sm:grid-cols-1">
                    <button type="button" class="flex w-48 mx-auto items-center justify-center rounded-full border border-[2px] border-orange-600  py-3 px-3 text-sm font-bold text-orange-600 focus:outline-none focus:ring-2 focus:ring-orange-500 focus:ring-offset-2 focus:ring-offset-gray-50 transition sm:hover:scale-105 duration-200 delay-150">Subscribe for $9.99</button>
                </div>



                <div class="mt-10 pt-10 flex flex-row items-center justify-center space-x-10">
                    <div class="flex flex-col items-center">
                    <h1 class="text-2xl font-extrabold tracking-tight text-teal-600">18972</h1>
                    <h1 class="text-sm text-gray-700 mb-10">Subscribers</h1>
                    </div>
                    <div class="flex flex-col items-center">
                        <h1 class="text-2xl font-extrabold tracking-tight text-teal-600">6</h1>
                        <h1 class="text-sm text-gray-700 mb-10">Courses</h1>
                    </div>
                </div>

                <div class=" pt-10 flex flex-row items-center justify-start space-x-10">
                    <div class="flex flex-col">
                        <h1 class="text-xl font-bold text-gray-800 mb-3">About me</h1>
                        <h1 class="text-sm text-gray-700 text-justify mb-10">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque at commodo sapien, eget sollicitudin odio. Ut suscipit, lacus at consectetur tempus, nisl nunc commodo ligula, sit amet gravida augue dolor quis arcu. Vivamus volutpat a felis et aliquet. Etiam pharetra rhoncus purus, sed varius velit vehicula eget. Vivamus egestas quam a rhoncus porttitor. Sed lacus quam, eleifend ut orci sed, viverra sagittis nulla. Donec purus felis, ullamcorper et ex sed, condimentum gravida orci. Donec nec blandit lacus, quis consequat orci. Nulla in rhoncus est. Pellentesque tempor nibh at risus eleifend semper.</h1>
                    </div>
                </div>

            </div>
        <div class="lg:grid lg:grid-cols-7 lg:grid-rows-1 lg:gap-x-8 lg:gap-y-10 xl:gap-x-16">
            <!-- Product image -->
            <div class="lg:col-span-7 lg:row-end-1">
                <div class="mt-10">
                    <h1 class="text-xl font-bold mb-10 text-gray-800">My popular courses</h1>
                    <div id="courses" class="grid grid-cols-3  lg:grid-cols-4 gap-x-5 gap-y-5">
                        {% for course in popular %}
                            <a href="{{ path('app_course', {'id' : course.id}) }}"><div id="CourseContainer" name="{{ course.title }}" class="group">
                                    <div class="flex flex-col justify-between py-3 px-4 w-full h-[10rem] bg-black shadow-lg rounded-sm  brightness-[95%] bg-[url('../../public/images/{{ course.background }}')] bg-cover sm:group-hover:brightness-[90%]"></div>
                                    <h1 class="text-md font-semibold pt-2 leading-5 text-ellipsis">{{ course.title }}</h1>
                                    {# if course.totalratings > 10 #}
                                        <div class="flex items-center">
                                            <span class="text-amber-600 text-sm font-medium">{{ course.rating }}</span>
                                            {#for i in range(1, course.rating|round(0, 'floor')) #}
                                                <span id="stars" class="text-amber-400 ml-1">&starf;</span>
                                            {# endfor #}
                                            <span class="text-xs text-gray-400 ml-1">(2,432)</span>
                                        </div>
                                    {# else #}
                                        <div class="w-12 h-5 bg-amber-400 flex items-center justify-center mt-1">
                                            <span class="text-xs text-white font-medium uppercase ">new</span>
                                        </div>
                                    {# endif #}
                                </div></a>
                        {% endfor %}
                    </div>
                </div>

                <div class="mt-10">
                    <h1 class="text-xl font-bold mb-10 text-gray-800">My courses</h1>
                    <div id="courses" class="grid grid-cols-3  lg:grid-cols-4 gap-x-5 gap-y-5">
                        {% for course in popular %}
                            <a href="{{ path('app_course', {'id' : course.id}) }}"><div id="CourseContainer" name="{{ course.title }}" class="group">
                                    <div class="flex flex-col justify-between py-3 px-4 w-full h-[10rem] bg-black shadow-lg rounded-sm  brightness-[95%] bg-[url('../../public/images/{{ course.background }}')] bg-cover sm:group-hover:brightness-[90%]"></div>
                                    <h1 class="text-md font-semibold pt-2 leading-5 text-ellipsis">{{ course.title }}</h1>
                                    {# if course.totalratings > 10 #}
                                        <div class="flex items-center">
                                            <span class="text-amber-600 text-sm font-medium">{{ course.rating }}</span>
                                            {#for i in range(1, course.rating|round(0, 'floor')) #}
                                                <span id="stars" class="text-amber-400 ml-1">&starf;</span>
                                            {# endfor #}
                                            <span class="text-xs text-gray-400 ml-1">(2,432)</span>
                                        </div>
                                    {# else #}
                                        <div class="w-12 h-5 bg-amber-400 flex items-center justify-center mt-1">
                                            <span class="text-xs text-white font-medium uppercase ">new</span>
                                        </div>
                                    {# endif #}
                                </div></a>
                        {% endfor %}

                        {% for course in popular %}
                            <a href="{{ path('app_course', {'id' : course.id}) }}"><div id="CourseContainer" name="{{ course.title }}" class="group">
                                    <div class="flex flex-col justify-between py-3 px-4 w-full h-[10rem] bg-black shadow-lg rounded-sm  brightness-[95%] bg-[url('../../public/images/{{ course.background }}')] bg-cover sm:group-hover:brightness-[90%]"></div>
                                    <h1 class="text-md font-semibold pt-2 leading-5 text-ellipsis">{{ course.title }}</h1>
                                    {# if course.totalratings > 10 #}
                                        <div class="flex items-center">
                                            <span class="text-amber-600 text-sm font-medium">{{ course.rating }}</span>
                                            {#for i in range(1, course.rating|round(0, 'floor')) #}
                                                <span id="stars" class="text-amber-400 ml-1">&starf;</span>
                                            {# endfor #}
                                            <span class="text-xs text-gray-400 ml-1">(2,432)</span>
                                        </div>
                                    {# else #}
                                        <div class="w-12 h-5 bg-amber-400 flex items-center justify-center mt-1">
                                            <span class="text-xs text-white font-medium uppercase ">new</span>
                                        </div>
                                    {# endif #}
                                </div></a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Debut Footer -->
<footer class="bg-white">
    <div class="mx-auto max-w-7xl py-12 px-6 md:flex md:items-center md:justify-center lg:px-8">

        <div class="mt-8 md:order-1 md:mt-0">
            <p class="text-center text-xs leading-5 text-gray-500">&copy; 2023 OnlyCoach, Inc. All rights reserved.</p>
        </div>
    </div>
</footer>

<!-- Fin Footer -->

<script>
    // Large screens starts here
    const userprofile = document.getElementById('user-menu-button')
    const profilemenu = document.getElementById('menu')

    function showMenu() {
        profilemenu.classList.remove('hidden')
        profilemenu.classList.add('block')
    }
    function hideMenu() {
        profilemenu.classList.remove('block')
        profilemenu.classList.add('hidden')
    }

    userprofile.addEventListener('click', () => {
        profilemenu.classList.contains('hidden') ? showMenu() : hideMenu()
    })
    // Large screens ends here

    // mobile starts here

    const mobilebutton = document.getElementById('mobile-button')
    const mobilemenu = document.getElementById('mobile-menu')

    function showMobileMenu() {
        const OpenIcon = document.getElementById('mobileMenuOpenIcon')
        const ClosedIcon = document.getElementById('mobileMenuClosedIcon')

        OpenIcon.classList.remove('hidden');
        OpenIcon.classList.add('block')

        ClosedIcon.classList.remove('block')
        ClosedIcon.classList.add('hidden')

        mobilemenu.classList.remove('hidden')
        mobilemenu.classList.add('block')
    }

    function hideMobileMenu() {
        const OpenIcon = document.getElementById('mobileMenuOpenIcon')
        const ClosedIcon = document.getElementById('mobileMenuClosedIcon')

        OpenIcon.classList.remove('block');
        OpenIcon.classList.add('hidden')

        ClosedIcon.classList.remove('hidden')
        ClosedIcon.classList.add('block')

        mobilemenu.classList.remove('block')
        mobilemenu.classList.add('hidden')
    }

    mobilebutton.addEventListener('click', () => {
        mobilemenu.classList.contains('hidden') ? showMobileMenu() : hideMobileMenu()
    })


    // mobile ends here

</script>
</body>
</html>
