<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
<body class="bg-slate-50">
<div class="bg-slate-50">

    <!-- Navigation -->

    <nav class="bg-gradient-to-b from-teal-600/10 to-slate-50 " >
        <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
            <div class="flex h-16 justify-between">
                <div class="flex">
                    <div class="flex flex-shrink-0 items-center">
                        <a href="{{ path('app_main') }}"><img class="block h-8 w-auto lg:hidden" src="{{ asset('images/onlycoachlogo.png')}}" alt="Your Company"></a>
                        <a href="{{ path('app_main') }}"><img class="lg:block h-8 w-auto hidden" src="{{ asset('images/onlycoachlogo.png')}}" alt="Your Company"></a>
                    </div>
                    <div class="hidden ml-12 sm:flex space-x-8">
                        <!-- Current: "border-indigo-500 text-gray-900", Default: "border-transparent text-gray-500 hover:border-gray-300 hover:text-gray-700" -->
                        <a href="{{ path('app_courses_popular') }}" class="inline-flex items-center border-b-2 border-indigo-500 px-1 pt-1 text-sm font-medium text-gray-900">Popular</a>
                        <a href="{{ path('app_coach') }}" class="inline-flex items-center border-b-2 border-transparent px-1 pt-1 text-sm font-medium text-gray-500 hover:border-gray-300 hover:text-gray-700">Coachs</a>
                        <a href="#" class="inline-flex items-center border-b-2 border-transparent px-1 pt-1 text-sm font-medium text-gray-500 hover:border-gray-300 hover:text-gray-700">Contact</a>
                    </div>


                </div>
                <div class="hidden sm:ml-6 sm:flex sm:items-center">

                    <button type="button" class="rounded-full bg-white p-1 text-gray-400 hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">
                        <span class="sr-only">View notifications</span>
                        <!-- Heroicon name: outline/bell -->
                        <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M14.857 17.082a23.848 23.848 0 005.454-1.31A8.967 8.967 0 0118 9.75v-.7V9A6 6 0 006 9v.75a8.967 8.967 0 01-2.312 6.022c1.733.64 3.56 1.085 5.455 1.31m5.714 0a24.255 24.255 0 01-5.714 0m5.714 0a3 3 0 11-5.714 0" />
                        </svg>
                    </button>

                    <!-- Profile dropdown -->
                    <div class="relative ml-3">
                        <div>
                            <button type="button" class="flex rounded-full bg-white text-sm focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2" id="user-menu-button" aria-expanded="false" aria-haspopup="true">
                                <span class="sr-only">Open user menu</span>
                                <img class="h-8 w-8 rounded-full" src="{{asset(userinfo.getpicture())}}" alt="">
                            </button>
                        </div>

                        <!--
                          Dropdown menu, show/hide based on menu state.

                          Entering: "transition ease-out duration-200"
                            From: "transform opacity-0 scale-95"
                            To: "transform opacity-100 scale-100"
                          Leaving: "transition ease-in duration-75"
                            From: "transform opacity-100 scale-100"
                            To: "transform opacity-0 scale-95"
                        -->
                        <div id="menu" class="absolute right-0 z-10 mt-2 w-48 origin-top-right rounded-md bg-white py-1 shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none hidden" role="menu" aria-orientation="vertical" aria-labelledby="user-menu-button" tabindex="-1">
                            <!-- Active: "bg-gray-100", Not Active: "" -->
                            <a href="{{ path('app_settings') }}" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-50" role="menuitem" tabindex="-1" id="user-menu-item-1">Settings</a>
                            <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-50" role="menuitem" tabindex="-1" id="user-menu-item-1">Calendar</a>
                            <a href="{{ path('app_logout') }}" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-50" role="menuitem" tabindex="-1" id="user-menu-item-2">Sign out</a>
                        </div>
                    </div>
                </div>
                <div class="-mr-2 flex items-center sm:hidden">
                    <!-- Mobile menu button -->
                    <button id="mobile-button" type="button" class="inline-flex items-center justify-center rounded-md p-2 text-gray-400 hover:bg-gray-100 hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-indigo-500" aria-controls="mobile-menu" aria-expanded="false">
                        <span class="sr-only">Open main menu</span>
                        <!--
                          Icon when menu is closed.

                          Heroicon name: outline/bars-3

                          Menu open: "hidden", Menu closed: "block"
                        -->
                        <svg id="mobileMenuClosedIcon" class="block h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
                        </svg>
                        <!--
                          Icon when menu is open.

                          Heroicon name: outline/x-mark

                          Menu open: "block", Menu closed: "hidden"
                        -->
                        <svg id="mobileMenuOpenIcon" class="hidden h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                        </svg>
                    </button>
                </div>
            </div>
        </div>

        <!-- Mobile menu, show/hide based on menu state. -->
        <div class="sm:hidden hidden" id="mobile-menu">
            <div class="space-y-1 pt-2 pb-3">
                <!-- Current: "bg-indigo-50 border-indigo-500 text-indigo-700", Default: "border-transparent text-gray-500 hover:bg-gray-50 hover:border-gray-300 hover:text-gray-700" -->
                <a href="{{ path('app_courses_popular') }}" class="block border-l-4 border-transparent py-2 pl-3 pr-4 text-base font-medium text-gray-500 hover:border-gray-300 hover:bg-gray-50 hover:text-gray-700">Popular</a>
                <a href="{{ path('app_coach') }}" class="block border-l-4 border-transparent py-2 pl-3 pr-4 text-base font-medium text-gray-500 hover:border-gray-300 hover:bg-gray-50 hover:text-gray-700">Coachs</a>
                <a href="{{ path('app_contact') }}" class="block border-l-4 border-transparent py-2 pl-3 pr-4 text-base font-medium text-gray-500 hover:border-gray-300 hover:bg-gray-50 hover:text-gray-700">Contact</a>
            </div>


            <div class="border-t border-gray-200 pt-4 pb-3">
                <div class="flex items-center px-4">
                    <div class="flex-shrink-0">
                        <img class="h-10 w-10 rounded-full" src="{{asset(userinfo.getPicture())}}" alt="">
                    </div>
                    <div class="ml-3">
                        <div class="text-base font-medium text-gray-800">Amrou Ghribi</div>
                    </div>
                    <button type="button" class="ml-auto flex-shrink-0 rounded-full bg-white p-1 text-gray-400 hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">
                        <span class="sr-only">View notifications</span>
                        <!-- Heroicon name: outline/bell -->
                        <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M14.857 17.082a23.848 23.848 0 005.454-1.31A8.967 8.967 0 0118 9.75v-.7V9A6 6 0 006 9v.75a8.967 8.967 0 01-2.312 6.022c1.733.64 3.56 1.085 5.455 1.31m5.714 0a24.255 24.255 0 01-5.714 0m5.714 0a3 3 0 11-5.714 0" />
                        </svg>
                    </button>
                </div>
                <div class="mt-3 space-y-1">
                    <a href="{{ path('app_settings') }}" class="block px-4 py-2 text-base font-medium text-gray-500 hover:bg-gray-100 hover:text-gray-800">Settings</a>
                    <a href="#" class="block px-4 py-2 text-base font-medium text-gray-500 hover:bg-gray-100 hover:text-gray-800">Calendar</a>
                    <a href="{{ path('app_login') }}" class="block px-4 py-2 text-base font-medium text-gray-500 hover:bg-gray-100 hover:text-gray-800">Sign out</a>
                </div>
            </div>
        </div>
    </nav>


    <!-- End of navigation and start of main page body-->

    <div>
        <div class="relative overflow-hidden bg-slate-50 pb-32">

            <header class="relative py-10">
                <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
                    <h1 class="text-3xl font-bold tracking-tight text-black">Settings</h1>
                </div>
            </header>
        </div>

        <main class="relative -mt-32">
            <div class="mx-auto max-w-screen-xl px-4 pb-6 sm:px-6 lg:px-8 lg:pb-16">
                <div class="overflow-hidden rounded-lg bg-white shadow">
                    <div class="divide-y divide-gray-200 lg:grid lg:grid-cols-12 lg:divide-y-0 lg:divide-x">
                        <aside class="py-6 lg:col-span-3">
                            <nav class="space-y-1">
                                <!-- Current: "bg-teal-50 border-teal-500 text-teal-700 hover:bg-teal-50 hover:text-teal-700", Default: "border-transparent text-gray-900 hover:bg-gray-50 hover:text-gray-900" -->
                                <div id="profileButton"><a id="profilea" href="#" class="bg-teal-50 border-teal-500 text-teal-700 hover:bg-teal-50 hover:text-teal-700 group border-l-4 px-3 py-2 flex items-center text-sm font-medium" aria-current="page">
                                    <!--
                                      Heroicon name: outline/user-circle

                                      Current: "text-teal-500 group-hover:text-teal-500", Default: "text-gray-400 group-hover:text-gray-500"
                                    -->
                                    <svg id="profilesvg" class="text-teal-500 group-hover:text-teal-500 flex-shrink-0 -ml-1 mr-3 h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M17.982 18.725A7.488 7.488 0 0012 15.75a7.488 7.488 0 00-5.982 2.975m11.963 0a9 9 0 10-11.963 0m11.963 0A8.966 8.966 0 0112 21a8.966 8.966 0 01-5.982-2.275M15 9.75a3 3 0 11-6 0 3 3 0 016 0z" />
                                    </svg>
                                    <span class="truncate">Profile</span>
                                </a>
                                    <a id="profilei" href="#" class="hidden border-transparent text-gray-900 hover:bg-gray-50 hover:text-gray-900 group border-l-4 px-3 py-2 flex items-center text-sm font-medium" aria-current="page">
                                        <!--
                                          Heroicon name: outline/user-circle

                                          Current: "text-teal-500 group-hover:text-teal-500", Default: "text-gray-400 group-hover:text-gray-500"
                                        -->
                                        <svg id="profilesvg" class="text-gray-400 group-hover:text-gray-500 group-hover:text-teal-500 flex-shrink-0 -ml-1 mr-3 h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                                            <path stroke-linecap="round" stroke-linejoin="round" d="M17.982 18.725A7.488 7.488 0 0012 15.75a7.488 7.488 0 00-5.982 2.975m11.963 0a9 9 0 10-11.963 0m11.963 0A8.966 8.966 0 0112 21a8.966 8.966 0 01-5.982-2.275M15 9.75a3 3 0 11-6 0 3 3 0 016 0z" />
                                        </svg>
                                        <span class="truncate">Profile</span>
                                    </a>
                                </div>


                                <div id="passwordButton"><a  id="passwordi" href="#" class="border-transparent text-gray-900 hover:bg-gray-50 hover:text-gray-900 group border-l-4 px-3 py-2 flex items-center text-sm font-medium">
                                    <!-- Heroicon name: outline/key -->
                                    <svg id="passwordsvg" class="text-gray-400 group-hover:text-gray-500 flex-shrink-0 -ml-1 mr-3 h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 5.25a3 3 0 013 3m3 0a6 6 0 01-7.029 5.912c-.563-.097-1.159.026-1.563.43L10.5 17.25H8.25v2.25H6v2.25H2.25v-2.818c0-.597.237-1.17.659-1.591l6.499-6.499c.404-.404.527-1 .43-1.563A6 6 0 1121.75 8.25z" />
                                    </svg>
                                    <span class="truncate">Password</span>
                                </a>
                                    <a  id="passworda" href="#" class="hidden bg-teal-50 border-teal-500 text-teal-700 hover:bg-teal-50 hover:text-teal-700 group border-l-4 px-3 py-2 flex items-center text-sm font-medium">
                                        <!-- Heroicon name: outline/key -->
                                        <svg id="passwordsvg" class="text-teal-500 group-hover:text-teal-500 flex-shrink-0 -ml-1 mr-3 h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                                            <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 5.25a3 3 0 013 3m3 0a6 6 0 01-7.029 5.912c-.563-.097-1.159.026-1.563.43L10.5 17.25H8.25v2.25H6v2.25H2.25v-2.818c0-.597.237-1.17.659-1.591l6.499-6.499c.404-.404.527-1 .43-1.563A6 6 0 1121.75 8.25z" />
                                        </svg>
                                        <span class="truncate">Password</span>
                                    </a></div>

                            </nav>
                        </aside>

                        <form name="profileForm" class="divide-y divide-gray-200 lg:col-span-9" action="{{ path('app_settings_modify') }}" method="POST"  enctype="multipart/form-data">
                            <!-- Profile section -->
                            <div id="profileContainer" class="py-6 px-4 sm:p-6 lg:pb-8">
                                <div>
                                    <h2 class="text-lg font-medium leading-6 text-gray-900">Profile</h2>
                                    <p class="mt-1 text-sm text-gray-500">This information will be displayed publicly so be careful what you share.</p>
                                </div>

                                {% for error in errors %}
                                    <li>                
                                    <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
                                        <strong class="font-bold">Holy smokes!</strong>
                                        <span class="block sm:inline">{{error.message}}.</span>
                                    </div>
                                    </li>
                                {% endfor %}
                                <div class="mt-6 flex flex-col lg:flex-row">
                                    <div class="flex-grow space-y-6">

                                        <div>
                                            <label for="about" class="block text-sm font-medium text-gray-700">About</label>
                                            <div class="mt-1">
                                                <textarea id="about" name="about" rows="3" class=" mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-sky-500 focus:ring-sky-500 sm:text-sm resize-none" placeholder="{{userinfo.getDescription()}}"></textarea>
                                            </div>
                                            <p class="mt-2 text-sm text-gray-500">Brief description about yourself.</p>
                                        </div>
                                    </div>

                                    <div class="mt-6 flex-grow lg:mt-0 lg:ml-6 lg:flex-shrink-0 lg:flex-grow-0">
                                        <p class="text-sm font-medium text-gray-700" aria-hidden="true">Photo</p>
                                        <div class="mt-1 lg:hidden">
                                            <div class="flex items-center">
                                                <div class="inline-block h-12 w-12 flex-shrink-0 overflow-hidden rounded-full" aria-hidden="true">
                                                    <img class="h-full w-full rounded-full" src="{{asset(userinfo.getPicture())}}" alt="">
                                                </div>
                                                <div class="ml-5 rounded-md shadow-sm">
                                                    <div class="group relative flex items-center justify-center rounded-md border border-gray-300 py-2 px-3 focus-within:ring-2 focus-within:ring-sky-500 focus-within:ring-offset-2 hover:bg-gray-50">
                                                        <label for="mobile-user-photo" class="pointer-events-none relative text-sm font-medium leading-4 text-gray-700">
                                                            <span>Change</span>
                                                            <span class="sr-only"> user photo</span>
                                                        </label>
                                                        <input id="mobile-user-photo" name="user-photo" type="file" class="absolute h-full w-full cursor-pointer rounded-md border-gray-300 opacity-0">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="relative hidden overflow-hidden rounded-full lg:block">
                                            <img class="relative h-40 w-40 rounded-full" src="{{asset(userinfo.getPicture())}}" alt="">
                                            <label for="desktop-user-photo" class="absolute inset-0 flex h-full w-full items-center justify-center bg-black bg-opacity-75 text-sm font-medium text-white opacity-0 focus-within:opacity-100 hover:opacity-100">
                                                <span>Change</span>
                                                <span class="sr-only"> user photo</span>
                                                <input type="file" id="desktop-user-photo" name="user-photo" class="absolute inset-0 h-full w-full cursor-pointer rounded-md border-gray-300 opacity-0">
                                            </label>
                                        </div>
                                    </div>
                                </div>

                                <div class="sm:pt-0 pt-10">
                                    <h2 class="text-lg font-medium leading-6 text-gray-900">Personal information</h2>
                                </div>

                                <div class="mt-6 grid grid-cols-12 gap-6">
                                    <div class="col-span-12 sm:col-span-6">
                                        <label for="first-name" class="block text-sm font-medium text-gray-700">First name</label>
                                        <input type="text" name="first-name" id="first-name" autocomplete="given-name" class="mt-1 block w-full rounded-md border border-gray-300 py-2 px-3 shadow-sm focus:border-sky-500 focus:outline-none focus:ring-sky-500 sm:text-sm" placeholder="{{userinfo.getPrenom()}}">
                                    </div>

                                    <div class="col-span-12 sm:col-span-6">
                                        <label for="last-name" class="block text-sm font-medium text-gray-700">Last name</label>
                                        <input type="text" name="last-name" id="last-name" autocomplete="family-name" class="mt-1 block w-full rounded-md border border-gray-300 py-2 px-3 shadow-sm focus:border-sky-500 focus:outline-none focus:ring-sky-500 sm:text-sm"  placeholder="{{userinfo.getNom()}}">
                                    </div>


                                    <div class="col-span-12 sm:col-span-6">
                                        <label for="phone" class="block text-sm font-medium text-gray-700">Phone</label>
                                        <input type="number" name="phone" id="phone" autocomplete="Phone" class="mt-1 block w-full rounded-md border border-gray-300 py-2 px-3 shadow-sm focus:border-sky-500 focus:outline-none focus:ring-sky-500 sm:text-sm" placeholder="{{userinfo.getPhone()}}">
                                    </div>


                                    <div class="col-span-12 sm:col-span-12">
                                        <button type="submit" class="mt-1 block w-full bg-orange-600 text-white rounded-md hover:bg-orange-800 py-2 px-3 shadow-sm focus:border-sky-500 focus:outline-none focus:ring-sky-500 sm:text-sm">Update</button>
                                    </div>
                                </div>
                            </div>
                        <form name="passwordForm" class="divide-y divide-gray-200 lg:col-span-9" action="{{ path('app_settings_modify') }}" method="POST">
                            <!-- Password section -->
                            <div id="passwordContainer" class="py-6 px-4 sm:p-6 lg:pb-8 hidden">
                                <div>
                                    <h2 class="text-lg font-medium leading-6 text-gray-900">Password</h2>
                                    <p class="mt-1 text-sm text-gray-500">Change your current password.</p>
                                </div>


                                <div class="mt-6 grid grid-cols-12 gap-6">
                                    <div class="col-span-12 sm:col-span-6">
                                        <label for="oldPassword" class="block text-sm font-medium text-gray-700">Old password</label>
                                        <input type="password" name="oldPassword" id="oldPassword" autocomplete="oldPassword" class="mt-1 block w-full rounded-md border border-gray-300 py-2 px-3 shadow-sm focus:border-sky-500 focus:outline-none focus:ring-sky-500 sm:text-sm">
                                    </div>

                                    <div class="col-span-12 sm:col-span-6">
                                        <label for="newPassword" class="block text-sm font-medium text-gray-700">New password</label>
                                        <input type="password" name="newPassword" id="newPassword" autocomplete="newPassword" class="mt-1 block w-full rounded-md border border-gray-300 py-2 px-3 shadow-sm focus:border-sky-500 focus:outline-none focus:ring-sky-500 sm:text-sm">
                                    </div>

                                    <div class="col-span-12 sm:col-span-12">
                                        <button type="submit" class="mt-1 block w-full bg-orange-600 text-white rounded-md hover:bg-orange-800 py-2 px-3 shadow-sm focus:border-sky-500 focus:outline-none focus:ring-sky-500 sm:text-sm">Update</button>
                                    </div>
                                </div>
                            </div>
                        </form>


                        </form>
                    </div>
                </div>
            </div>
        </main>
    </div>


<!-- Debut Footer -->
<footer class="bg-black absolute w-full bottom-0 left-0 lg:block hidden">
    <div class="mx-auto max-w-7xl py-12 px-6 md:flex md:items-center md:justify-center lg:px-8">

        <div class="mt-8 md:order-1 md:mt-0">
            <p class="text-center text-xs leading-5 text-white">&copy; 2023 OnlyCoach, Inc. All rights reserved.</p>
        </div>
    </div>
</footer>
</div>

<!-- Fin Footer -->
<script>

    const profileButton = document.getElementById('profileButton')
    const passwordButton = document.getElementById('passwordButton')

    const profileContainer = document.getElementById('profileContainer')
    const passwordContainer = document.getElementById('passwordContainer')

    const profilea = document.getElementById('profilea')
    const passworda = document.getElementById('passworda')

    const profilesvg = document.getElementById('profilesvg')
    const passwordsvg = document.getElementById('passwordsvg')

    const profilei = document.getElementById('profilei')
    const passwordi = document.getElementById('passwordi')

    function showProfilePage() {
        passwordContainer.classList.add('hidden');
        profileContainer.classList.remove('hidden');
        profileContainer.classList.add('block');
        profilea.classList.remove('hidden')
        profilea.classList.add('block')
        passworda.classList.add('hidden');
        passworda.classList.remove('block')
        profilei.classList.remove('block')
        profilei.classList.add('hidden');
        passwordi.classList.remove('hidden')
        passwordi.classList.add('block')


    }

    function showPasswordPage() {

        passwordContainer.classList.add('block');
        passwordContainer.classList.remove('hidden');
        profileContainer.classList.add('hidden');
        passworda.classList.remove('hidden');
        passworda.classList.add('block')
        passwordi.classList.remove('block')
        passwordi.classList.add('hidden');
        profilea.classList.remove('block')
        profilea.classList.add('hidden');
        profilei.classList.remove('hidden')
        profilei.classList.add('block')
    }

    profileButton.addEventListener('click', () => {
        showProfilePage()
    })

    passwordButton.addEventListener('click', () => {
        showPasswordPage()
    })
    // Large screens starts here
    const userprofile = document.getElementById('user-menu-button')
    const profilemenu = document.getElementById('menu')

    function showMenu() {
        profilemenu.classList.remove('hidden')
        profilemenu.classList.add('block')
    }
    function hideMenu() {
        profilemenu.classList.remove('block')
        profilemenu.classList.add('hidden')
    }

    userprofile.addEventListener('click', () => {
        profilemenu.classList.contains('hidden') ? showMenu() : hideMenu()
    })
    // Large screens ends here

    // mobile starts here

    const mobilebutton = document.getElementById('mobile-button')
    const mobilemenu = document.getElementById('mobile-menu')

    function showMobileMenu() {
        const OpenIcon = document.getElementById('mobileMenuOpenIcon')
        const ClosedIcon = document.getElementById('mobileMenuClosedIcon')

        OpenIcon.classList.remove('hidden');
        OpenIcon.classList.add('block')

        ClosedIcon.classList.remove('block')
        ClosedIcon.classList.add('hidden')

        mobilemenu.classList.remove('hidden')
        mobilemenu.classList.add('block')
    }

    function hideMobileMenu() {
        const OpenIcon = document.getElementById('mobileMenuOpenIcon')
        const ClosedIcon = document.getElementById('mobileMenuClosedIcon')

        OpenIcon.classList.remove('block');
        OpenIcon.classList.add('hidden')

        ClosedIcon.classList.remove('hidden')
        ClosedIcon.classList.add('block')

        mobilemenu.classList.remove('block')
        mobilemenu.classList.add('hidden')
    }

    mobilebutton.addEventListener('click', () => {
        mobilemenu.classList.contains('hidden') ? showMobileMenu() : hideMobileMenu()
    })



    // filter button for mobile ends here

    // mobile ends here



</script>

</body>
</html>


